In [41]:
# Encoding ---› Transform your categorical data into Numerical data .
# (1). Label --> 1-1 column apply but we cannot set the order manually .
# (2). Ordinal --> multi-column apply and we can set the order manually .
# (3). OneHotEncoder ---> has_covid[yes, no] --> 2 column create --> covid_yes, covid_no .
# (4). get_dummies --- has_covid[yes,no] --> 2 column create --› column name with values .

In [42]:
import numpy as np
import pandas as pd

In [43]:
df = pd.read_csv("/content/covid_toy - covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [44]:
df = df.dropna()

In [45]:
df = df.drop(columns = ['city'])

In [46]:
# Approach-1: LabelEncoder

In [47]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder ()

In [48]:
df['gender']= lb. fit_transform(df['gender'])
df['cough' ]= lb. fit_transform(df['cough' ])
df['has_covid' ]= lb. fit_transform(df[ 'has_covid'])

In [49]:
df.head(2)

   age  gender  fever  cough  has_covid
0   60       1  103.0      0          0
1   27       1  100.0      0          1

In [50]:
# Approach-2::: OrdinalEncoder

In [51]:
df = pd. read_csv("/content/covid_toy - covid_toy.csv")
df.head (2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [52]:
df = df. drop (columns = ['city', 'age', 'fever'])

In [53]:
df = df.dropna()

In [54]:
df.head(2)

  gender cough has_covid
0   Male  Mild        No
1   Male  Mild       Yes

In [55]:
df_new = df.copy()

In [56]:
# df_new

In [57]:
from sklearn.preprocessing import OrdinalEncoder

In [58]:
oe = OrdinalEncoder(categories = [['Male','Female'],
                                  ['Mild','Strong'],
                                  ['No','Yes']])

In [59]:
oe_df = oe.fit_transform(df)

In [60]:
df_oe = pd.DataFrame(oe_df, columns = df_new.columns)

In [61]:
df = pd.read_csv("/content/covid_toy - covid_toy.csv")
df.head (2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [62]:
df = df.dropna()

In [63]:
from sklearn.preprocessing import OneHotEncoder

In [64]:
ohe = OneHotEncoder(drop = 'first' , sparse_output = False , dtype = np.int32)

In [65]:
ohe.fit_transform(df[['gender', 'cough', 'city', 'has_covid']])

array([[1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 1]], dtype=int32)

In [66]:
# gender ---> f
# cough ---> S
# city ---> m,b, k
# has_covid --- n

In [67]:
# Approach- (4). get_dummmies :::

In [83]:
df = pd.read_csv("/content/covid_toy - covid_toy.csv")
df.head (2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [84]:
df = df.dropna()

In [85]:
df = pd.get_dummies(df , columns = ['gender', 'cough', 'city', 'has_covid'], drop_first = True)

In [86]:
df = df.astype(int)

In [87]:
df

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103,1,0,0,1,0,0
1,27,100,1,0,1,0,0,1
2,42,101,1,0,1,0,0,0
3,31,98,0,0,0,1,0,0
4,65,101,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
95,12,104,0,0,0,0,0,0
96,51,101,0,1,0,1,0,1
97,20,101,0,0,0,0,0,0
98,5,98,0,1,0,0,1,0
99,10,98,0,1,0,1,0,1