In [61]:
import pandas as pd
import numpy as np

In [62]:
pd.read_csv('/content/sample_data/mnist_test.csv')
# to read the csv files we use the read_csv method
# read_csvl'path_of_file')

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
# Pandas have two different data types
# 1. sertries
# 2. Dataframe

In [64]:
# a Pandas Series is a one-dimensional, labeled array that offers additional features like explicit indexing and
# integrated missing data handling, making it ideal for data analysis.

In [65]:
df.head()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
# Created series with the help of numpy array
s = pd.Series(np.array([1,2,3,4]), index=['a', 'b', 'c', 'd'])

In [67]:
s.size

4

In [68]:
s.ndim

1

In [69]:
# Created a series with the help of list
li = [1,2,3,4]
li_idx = ['a','b','c','d']
pd.Series(li, index=li_idx)

a    1
b    2
c    3
d    4
dtype: int64

In [70]:
# Creating a series with the help of dictionary
d = {
    'a':10,
    'b':20,
    'c':30,
    'd':40
}
# When we create any series with the help of dictionary
# key -> index, value -> value
s1 = pd.Series(d)

In [71]:
# .values is used to retrieve the values of the series
# it returns the values into the form of the numpy array
s1.values

array([10, 20, 30, 40])

In [72]:
#. index method is used to find all the indices of the series
s1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [73]:
s1.dtype

dtype('int64')

In [74]:
# Vectorised operations
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([5,6,7,8])

In [75]:
s1+s2

0     6
1     8
2    10
3    12
dtype: int64

In [76]:
s1**2

0     1
1     4
2     9
3    16
dtype: int64

In [77]:
# Accessing the elements using indices
series = pd.Series(np.arange(1,13))

In [78]:
# We can access the elements of series using some conditions
series[series > 5]

5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

# ***dataFrames***

**A pandas DataFrame is a primary, two-dimensional, table-like data structure used for data manipulation and analysis in Python.**

Key components

A DataFrame is composed of three main parts:

• Data: The actual values contained within the table.

• Rows: Labeled observations (also called the index).

• Columns: Labeled variables that can hold different data types (e.g., numbers, text,
dates).

In [81]:
# Row and Columns
# Creating dataframes with help of dictionary
student_details = {
    "Name" : ['Rahul','Aman','Naman'],
    'Subject': ['Maths','English','social science'],
    'Marks': [50,60,70,],
    'Address': ['Jaipur','Delhi','Madhya Pradesh']
}
pd.DataFrame(student_details)

    Name         Subject  Marks         Address
0  Rahul           Maths     50          Jaipur
1   Aman         English     60           Delhi
2  Naman  social science     70  Madhya Pradesh

In [83]:
student_detail = [
    ['Rahul','Maths',50,'Jaipur'],
    ['Aman','English',60,'Delhi'],
    ['Naman','social science',70,'Madhya Pradesh']
]
pd.DataFrame(student_detail, columns=['Name','Subject','Marks','Address'])

    Name         Subject  Marks         Address
0  Rahul           Maths     50          Jaipur
1   Aman         English     60           Delhi
2  Naman  social science     70  Madhya Pradesh